{% extends 'base.html' %}
{% block title %} home {% endblock %}
{% block content %}

<section class="py-5 text-center container" style="margin-top: 40px;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ВОЙДИ ШОП</h1>
            <p class="lead text-muted">Без сомнения лучшие кроссовки, созданные гениальными дизайнерами,
                представлены лучшими программистами</p>
        </div>
    </div>
</section>

<div class="d-flex carto" style="gap: 10px; display: flex; flex-wrap: wrap;">
    {% for sneakers_name, description, image, price, id in zipped_values %}
    <div  class="card" style="width: 16.5rem;">
        <img  height="110px" src={{image}} alt="">
        
        <div class="card-body">
            <h5 class="card-title">{{sneakers_name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{price}}$</p>
        </div>
        <div class="btn-group " style="margin: 0 30px 20px 30px;">
            <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="{% url 'more' id=id %}"
                    class="nav-link">Посмотреть</a></button>
            <button type="submit" class="btn btn-sm btn-outline-secondary"><a class="nav-link" href="{% url 'addCart' pk=id %}">В корзину</a></button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}